<app-header></app-header>
<div class="row" style="background: #F6F9FC">
    <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 heading-supplychain">
<a routerLink="/self-checkout" class="headeritem"><i class="icon ion-ios-analytics"></i><p class="supply">ANALYTICS</p></a></div></div>
<div class="row" style="background: #F6F9FC">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 firstparagraph">
        <h1 class ="firstparaheading">The analytics platform for platforms</h1>
        <p class="firstparacontent">
          Supply chain and Scan-Pay-Go use Zooliy Analytics to crunch data for visual results. Analytics provides a complete set of building blocks to support virtually any business model for  inspecting, cleansing, transforming, and modelling data with the goal of discovering useful information, suggesting conclusions, and supporting decision-making.

        </p><a href="#" class="common-Button" style="margin-right:20px;color:white;background:rgb(146, 81, 172);
        ">
            Create account
          </a><a href="contact" class="common-Button">
            Explore features
          </a>
    </div>
     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col cantselect">
        <img  draggable="false" onmousedown="return false"  class="firstimg" src="../../../assets/circle and graph final gif.gif">
    </div>
    </div>
    <div class="row"  style="background: white">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 cantselect col">
                <img draggable="false" onmousedown="return false" class="secondimg" src="../../../assets/final image.PNG">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 secondparagraph">
            <img  class="secondbuildingimg cantselect"   draggable="false" onmousedown="return false"  src="../../../assets/fingerprint final gif.gif"><h1 class ="secondparaheading">A better answer to Build vs. Buy </h1> 
        <p class="secondparacontent">
              We believe that no company should spend extra on sophisticated hardware or wait to reach for the boring desktop dashboards. So, we allow business to access Analytics through the most easiest of ways with the resources they already have and take care of all the computing at our end.
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
          <div class="supply-item">
  
                  <img class="logono1 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/card.png">
            <h3 class="itemheading">Costs you can’t refuse</h3>
            <div class="itemcontent">Pay as you go, with increasing data size and operations. Zero implementation cost no infrastructure hassle.

          </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
              <div class="supply-item2">
                <img class="logono2 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/hut.png">
            <h3 class="itemheading">Keep growing everyday</h3>
            <div class="itemcontent">
              We let you focus on your business and crunch the data for you. So, you can make better decisions to optimize growth without worrying about on what is going behind.

          </div>
  
        </div>
          </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
                  <div class="supply-item3">
                      <img class="logono3 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/person.png">
            <h3 class="itemheading">Democratize data</h3>
            <div class="itemcontent">
              Free data from silos and let teammates from finance, support, product management, and other teams run reports directly and take action faster.
            </div>
  
          </div>
        </div>
  </div>
  <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
        <div class="supply-item">
  
                <img class="logono1 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/2 arrows.png">
          <h3 class="itemheading">Zooliy data, at the ready</h3>
          <div class="itemcontent">   Quick sidebar access to a full map of the structure of your data stored in Zooliy makes it easy to combine all the relevant data needed from across Zooliy’s products—payments, payouts, customers, subscriptions, refunds, and more.</div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
            <div class="supply-item2">
              <img class="logono2 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/the shield.png">
          <h3 class="itemheading">Data Security our Priority</h3>
          <div class="itemcontent">
            Collect payments online and save money on bank fees on lodging cash. Allows for greater uptake of transactions during peak hours, without the need for any additional staff. 

          </div>
  
      </div>
        </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
                <div class="supply-item3">
                    <img class="logono3 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/zoom.png">
          <h3 class="itemheading">Know your company</h3>
          <div class="itemcontent">
            With structured access to your data, you can identify what is essential for growth and look up which geographies contribute the most revenue, see which products are most popular in February, and much more.

          </div>
  
        </div>
      </div>
  </div>
<!-- <div class="row roadmap">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol accept">
            <div style="float:left"  class="rectangle">Accept</div><div style="float:left"class="triangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol process">
                <div style="float:left" class="secondrectangle">Accept</div><div style="float:left"class="secondtriangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol setup">
                <div style="float:left" class="thirdrectangle">Accept</div><div style="float:left"class="thirdtriangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol manage">
                 <div style="float:left" class="fourthrectangle">Accept</div>
        </div>
</div> --> 
<div class="row " style="background: #F6F9FC">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 projectcol">
    <div class="lastitem">
        <a routerLink="/supply-chain">
            <i class="iconatitem material-icons" style="float:left;font-size:130px;margin-left:-40px;color:#77c2ec;">
                    offline_bolt
                    </i>          <h3 class="projectitem">SUPPLY CHAIN <i class="material-icons" style="font-size: 15px;font-weight: 700;">arrow_forward</i></h3>
      <div  class="projectcontent">Use most advance tools based on blockchian to manage you supply
        chain for provenance and payment settlements across the different
        level.</div>
    </a>  </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 projectcol">
        <div class="lastitem2"><a routerLink="/self-checkout">
           <i style="float:left;font-size:130px;color:#33DF98;margin-left:-30px;" class="iconatsupply ion-md-radio-button-on"></i> 
      <h3    class="projectitem1">SELF CHECKOUT <i class="material-icons" style="font-size: 15px;font-weight: 700;">arrow_forward</i></h3>
      <div class="projectcontent">There is a better way to shop offline. A digital, convenient and less
        invasive way where offline customers are earned rather than
        acquired.</div>
    </a>
  </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 projectheading">
            <div class="projecth1" >Ready to get started? </div>
            <div class="projecth5">Get in touch or create an account. </div>
          </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 projectheading2">
                <a routerLink="/coming-soon"class="common-Button" style="margin-right:50px;margin-top:0px;color:white;background:rgb(146, 81, 172);">
                    Create account
                  </a><a routerLink="/contact" class="common-Button" style="margin-top:0px;">
                    Contact Sales
                  </a>
              </div>
</div> 
  <app-footer></app-footer>
  <app-copyright></app-copyright>