<app-header></app-header>
<div class="row" style="background: #F6F9FC">
    <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 heading-supplychain">
<a routerLink="/self-checkout" class="headeritem"><i class="icon ion-md-radio-button-on"></i><p class="supply">SELF CHECKOUT</p></a></div></div>
<div class="row" style="background: #F6F9FC">
    <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 firstparagraph">
        <h1 class ="firstparaheading">Scan-Pay-Go App for best experience superstore</h1>
        <p class="firstparacontent">
            The most ambitious stores design billing around customer experience. Zooliy Scan-Pay-Go is a new set of tool to build and scale your recurring business model.
        </p><a href="#" class="common-Button" style="margin-right:20px;color:white;background:rgb(146, 81, 172);
        ">
            Create account
          </a><a href="contact" class="common-Button">
            Explore features
          </a>
    </div>
     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col cantselect middle">
        <img  draggable="false" onmousedown="return false"  class="firstimg" src="../../../assets/phone1.png">
    </div>
    </div>
    <div class="row"  style="background: white">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 cantselect col middle">
                <img draggable="false" onmousedown="return false" class="secondimg" src="../../../assets/phone2.png">
        </div>
        <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 secondparagraph">
                <div class="container2"><img  class="secondbuildingimg cantselect"   draggable="false" onmousedown="return false"  src="../../../assets/block final gif.gif"><h1 class ="secondparaheading">A better answer to Build vs. Buy </h1> </div>
        <p class="secondparacontent">
                Companies of all sizes face the question of whether to build or buy a self checkout billing solution. Zooliy Scan-Pay-Go Billing gives you a better option. Once you’re set up, you can create and manage subscriptions and invoices—and view detailed financial reports—directly from the Dashboard. 
        </div>
      </div>
      <div class="row" style="background: #F6F9FC">
        <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 thirdparagraph">
            <div class="container"><img  class="thirdwheelimg cantselect notinpc"   draggable="false" onmousedown="return false"  src="../../../assets/pen paper final gif.gif"><h1 class ="thirdparaheading">Effortlessly implement and test pricing</h1><img  class="thirdwheelimg cantselect notinmobile"   draggable="false" onmousedown="return false"  src="../../../assets/pen paper final gif.gif"></div>
            <p class="thirdparacontent">
                Zooliy requires you to use all this with no extra hardware cost. Iterate on your pricing as quickly as you improve your store with Zooliy’s flexible billing components. Zooliy simplifies sending one-off invoices, fully automates recurring invoice management with payments settlements, and adds features such as ads and analytics to build strong recurring customers.
            </p>
        </div>
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col cantselect middle">
            <img  draggable="false" onmousedown="return false"  class="thirdimg" src="../../../assets/phone3.png">
        </div>
        </div>
      <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
        <div class="supply-item">

                <img class="logono1 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/trial.png">
          <h3 class="itemheading">First Try then Buy</h3>
          <div class="itemcontent">One month of free trail and testing, with easy five day setup and running of hassle free self-checkout store.
        </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
            <div class="supply-item2">
              <img class="logono2 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/cost.png">
          <h3 class="itemheading">Costs you can’t refuse</h3>
          <div class="itemcontent">
            Pay as you go, with increasing store size and operations. Zero implementation cost no infrastructure hassle.
        </div>

      </div>
        </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
                <div class="supply-item3">
                    <img class="logono2 cantselect"   draggable="false" onmousedown="return false"   src="../../assets/tpwyg.png">
          <h3 class="itemheading">Tell people what you got</h3>
          <div class="itemcontent">
            Geo-target advertisement for the customers near you. A perfect platform for you to make customers aware of your products and offers</div>

        </div>
      </div>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
      <div class="supply-item">

              <img class="logono1 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/loyality.png">
        <h3 class="itemheading">Customer experience</h3>
        <div class="itemcontent">Customers can choose the type of checkout they prefer. Scan-Pay-Go app or Kiosk. Provides a competitive advantage and builds customer retention.</div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
          <div class="supply-item2">
            <img class="logono2 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/payment.png">
        <h3 class="itemheading">Collect payments in one go</h3>
        <div class="itemcontent">
            Collect payments online and save money on bank fees on lodging cash. Allows for greater uptake of transactions during peak hours, without the need for any additional staff.
        </div>

    </div>
      </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
              <div class="supply-item3">
                  <img class="logono3 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/notification.png">
        <h3 class="itemheading">Notify for latest offers</h3>
        <div class="itemcontent">
            Notify your loyal customer about exciting deals and seasonal offers in your store for no extra cost.
        </div>

      </div>
    </div>
</div>
<!-- <div class="row roadmap">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol accept">
            <div style="float:left"  class="rectangle">Accept</div><div style="float:left"class="triangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol process">
                <div style="float:left" class="secondrectangle">Accept</div><div style="float:left"class="secondtriangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol setup">
                <div style="float:left" class="thirdrectangle">Accept</div><div style="float:left"class="thirdtriangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol manage">
                 <div style="float:left" class="fourthrectangle">Accept</div>
        </div>
</div> --> 
<div class="row " style="background: #F6F9FC">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 projectcol">
            <div class="lastitem">
                <a routerLink="/supply-chain">
                    <i class="iconatitem material-icons" style="float:left;font-size:130px;margin-left:-40px;color:#77c2ec;">
                            offline_bolt
                            </i>          <h3 class="projectitem">SUPPLY CHAIN <i class="material-icons" style="font-size: 15px;font-weight: 700;">arrow_forward</i></h3>
              <div  class="projectcontent">Use most advance tools based on blockchian to manage you supply
                chain for provenance and payment settlements across the different
                level.</div>
            </a>  </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 projectcol">
            <div class="lastitem2"><a routerLink="/analytic">
              <i class="iconatitem ion-ios-analytics" style="float:left;font-size:130px;;color:#fc3;margin-left:-30px;"></i>
        <h3    class="projectitem1">ANALYTIC <i class="material-icons" style="font-size: 15px;font-weight: 700;">arrow_forward</i></h3>
        <div class="projectcontent">Understanding analytics is at the heart of successful optimization, because you need to measure what’s happening so that you know what to change or update.</div>
      </a>
    </div>
           </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 projectheading">
                    <div class="projecth1" >Ready to get started? </div>
                    <div class="projecth5">Get in touch or create an account. </div>
                  </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 projectheading2">
                        <a routerLink="/coming-soon"class="common-Button" style="margin-right:50px;margin-top:0px;color:white;background:rgb(146, 81, 172);">
                            Create account
                          </a><a routerLink="/contact" class="common-Button" style="margin-top:0px;">
                            Contact Sales
                          </a>
                      </div>
    </div> 
<app-footer></app-footer>
<app-copyright></app-copyright>