<div class="row cover">
  <header class="main-header col-xl -12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
<div class="nav">
<div class="nav__bg-wrapper">
<div class="nav__bg"></div>
</div>
<ul class="nav__sections">
<!-- hamburger-menu -->

<div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        
        <li style="margin-top:100px"><a  class= "hamburger"  routerLink="/self-checkout"> Self Checkout </a></li>
        <li><a  class= "hamburger"  routerLink="/supply-chain"> Supply-chain  </a></li>
        <li><a  class= "hamburger"  routerLink="/analytic"> Analytics  </a></li>
        <li><a  class= "hamburger"  routerLink="/pricing"> Pricing  </a></li>
        <li><a class="hamburger"  routerLink="/contact">  Contact Us </a></li>
        <li><a routerLink="/signin" class="hamburger" >Sign In</a></li> 
        <li style="margin-bottom:100px"><a routerLink="/signup" class="hamburger">Sign Up</a> </li>
        <div class="blank"></div>
        
        <!-- <a class="hamburger"  routerLink="/">  Blogs </a><br>
        <a class="hamburger"> Product(s)</a><br>
        <a class="hamburger"> Community</a><br>
        <a class="hamburger"> About us</a><br> -->

        
      </ul>
    </div>
    <li class="name" ><a  routerLink="/" ><img class=" titleimage cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/zooliywhite.png"></a></li><li class="nav__section hide"><a class="nav__label " >Products</a>
      <ul class="nav__links nav__links--large">
        <a routerLink="/self-checkout" class="item3"> <li class="nav__headeritem"><i style="margin-top:50px" class="icon ion-md-radio-button-on"></i><p class="maintopic2">SELF CHECKOUT</p><p class="description">Build and scale your original product&nbsp;line.</p></li></a>
        <a routerLink="/analytic" class="item2"> <li class="nav__headeritem"><i class="icon ion-ios-analytics"></i><p class="maintopic1">ANALYTICS</p><p class="description">Everything businesses need to get the clear&nbsp;picture.</p></li></a>
        <a routerLink="/supply-chain" class="blueitem1"><li class="nav__headeritem"><i class="icon material-icons" style="margin-left:-10px;font-size:85px;margin-top:10px;">
            offline_bolt
            </i> <p class="maintopic"> SUPPLY CHAIN</p><p class="description">A complete management platform engineered for&nbsp;growth.</p></li></a>
     </ul>
</li>
<li class="nav__section hide"><a class="nav__label ">Developers</a>
  <ul class="nav__links nav__links--small">
          <li class="nav__item"><a routerLink="/coming-soon" class="item1"><i class="material-icons" style="font-size:40px">
                  import_contacts
                  </i>
                  <p class="doc">DOCUMENTATION</p>
                  <p class="description2">Start integrating Zooliy's products and tools.</p></a>
              <p class="get">GET STARTED</p>
                  <p><a routerLink="/coming-soon" class="docclass">Guide</a><br><a routerLink="/coming-soon" class="docclass">Elements</a><br><a routerLink="/coming-soon" class="docclass">Plug-ins</a><br><a routerLink="/coming-soon" class="docclass">Testing</a></p></li>
  
  </ul>
</li>
<li class="nav__section hide"><a class="nav__label" >Company</a>
  <ul class="nav__links nav__links--medium">
          <a routerLink="/coming-soon" class="item1"> <li class="nav__item"><i class="ion-md-grid" style="font-size:38px;"></i>
              <p class="doc">ABOUT ZOOLIY</p></li></a>
          <a routerLink="/coming-soon" class="item1"><li class="nav__item"><i class="ion-md-rocket "style="font-size:38px;" ></i><p class="doc">JOBS</p></li></a>
          <a routerLink="/coming-soon" class="item1"><li class="nav__item"><i class="ion-md-cube" style="font-size:38px;"></i><p class="doc">TECHNOLOGY</p></li></a>
  </ul>
</li>

 <li class="last3 grey hide " ><a routerLink="/pricing">Pricing</a></li>
<li class="last2 grey hide" ><a routerLink="/contact" class="grey">Contact</a></li>
<li class="last1 grey hide" ><a routerLink="/coming-soon" class="grey" id="button"  >Sign In<i class="material-icons" style="font-size: 15px;;">arrow_forward</i> </a></li>
</ul>
</div>
</header>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 announcement-setup">
<a class="announcement" routerLink="/self-checkout">
  <span class="new-pill">New</span>
  <span class="message">Introducing Scan-Pay-Go App<i style="border: solid white;border-width: 0 3px 3px 0;      display: inline-block;padding: 3px;"class="arrow right"></i></span></a></div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 headerparagraph">
<h1 class ="headerparaheading">Supply chain and Retail tool for business </h1>
  <p class="headerparacontent">
    Zooliy is the best software platform for managing a supply chain
    business. Our software allows enterprises and businesses to visualise
    supply chain for low-risk decision making and brings a new face to the
    retail industry by creating self-checkout stores.
  </p><a routerLink="/coming-soon"class="common-Button" style="margin-right:20px;color:white;background:rgb(146, 81, 172);">
      Start Now
    </a><a routerLink="/contact" class="common-Button notinmobile">
      Contact Sales
    </a>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 cantselect notinmobile">
      <img  draggable="false" onmousedown="return false"  class="firstimg1" src="../../../assets/tablet.PNG.png">
</div>
</div>
<div class="row" style="background: #F6F9FC;">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 firstparagraph">
              <div class="container"><img class="firstblockchain cantselect notinpc"   draggable="false" onmousedown="return false"  src="../../../assets/firstblockchain.gif"><br><br><br><h1 class ="firstparaheading">THE COMPLETE TOOLKIT <br>FOR SUPPLY
                CHAIN BUSINESS</h1> <img class="firstblockchain cantselect notinmobile"   draggable="false" onmousedown="return false"  src="../../../assets/firstblockchain.gif"></div>
              <p class="firstparacontent">
                Zooliy builds the most secure and advanced tools for retail commerce
                and supply chain management. Whether your supply chain is global,
                national or local we can handle all the levels seamlessly, Zooliy’s
                meticulously designed Scan-Pay-Go tool functionality help you create
                the best possible experience for your customers.</p>
                <hr class="firstline">
                <a routerLink="/contact" class="firstparacontent leftmargin" style="color:rgb(146, 81, 172);">
                 Discover how to use Zooliy <i class="material-icons" style="font-size: 15px;;">arrow_forward</i> </a>
          </div>
           <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 cantselect">
              <img  draggable="false" onmousedown="return false"  class="firstimg" src="../../../assets/phone.PNG.PNG">
          </div>
          </div>
<div class="row"  style="background: white">
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 cantselect">
        <img draggable="false" onmousedown="return false" class="secondimg" src="../../../assets/second.gif">
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 secondparagraph">
<div class="container2"><img  class="secondbuildingimg cantselect notinpc"   draggable="false" onmousedown="return false"  src="../../../assets/secondbuilding.gif"><br><br><br><img  class="secondbuildingimg cantselect notinmobile"   draggable="false" onmousedown="return false"  src="../../../assets/secondbuilding.gif"><h1 class ="secondparaheading">DESIGINING FUTURE  </h1> </div>
    
    <p class="secondparacontent">
        Blockchain technology is redefining the concept of trust and transforming how we think about the structures of everyday life, from identity to economics, and government. It pushes us to think systemically and at larger scales.
         We are committed to building the decentralized future.
    </p>
</div>
</div>
<div class="row" style="background: #F6F9FC">
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 thirdpara">
<div class="container"><img  class="thirdwheelimg cantselect notinpc"   draggable="false" onmousedown="return false"  src="../../../assets/thirdwheel.gif"><br><br><br><br><br><h1 class ="thirdparaheading">DEVELOPERS FIRST </h1><img  class="thirdwheelimg cantselect notinmobile"   draggable="false" onmousedown="return false"  src="../../../assets/thirdwheel.gif"></div>
<p class="thirdparacontent">
        We believe that trust is a problem rooted in nature, not process. We obsessively seek out elegant, composable abstractions that enable robust, scalable, flexible integrations. Because we eliminate needless complexity and extraneous details, you can get up and running with Zooliy in just a couple of minutes.   
    </p>
</div>
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 cantselect">
    <img  class="thirdimg"  draggable="false" onmousedown="return false"  src="../../../assets/third.gif">
</div>
</div><div class="row column" style="background: #ffffff" >
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 block1 border1">
    <img  class="fifthimg cantselect"    draggable="false" onmousedown="return false" src="../../../assets/fourth.gif">
    <h1 class ="heading">ALWAYS IMPROVING </h1>
    <p class="globalcontent">
            Zooliy is an always-improving toolchain that gains new features every month. Our world-class engineering team constantly iterates upon every facet of the Zooliy stack. And from Hyperledger to EOS, building on Zooliy means you get early access to the latest technologies.
      </p>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 block2 border1">
    <img  class="fourthimg cantselect"   draggable="false" onmousedown="return false"  src="../../../assets/fifth.gif">
    <h1 class ="heading">GLOBAL SCALE</h1>
    <p class="globalcontent">
      In the process we happen to make adoption of blockchain application
      for consumers and enterprise all over the world, a smoother
      experience by building tools on latest technology to help transform how modern
      businesses are managed and run.
      </p>
</div>
<div class="row " style="background: #F6F9FC">

<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 projectcol">
      <div class="lastitem">
          <a routerLink="/supply-chain">
              <i class="iconatitem material-icons" style="float:left;font-size:130px;margin-left:-40px;color:#77c2ec;">
                      offline_bolt
                      </i>          <h3 class="projectitem">SUPPLY CHAIN <i class="material-icons" style="font-size: 15px;font-weight: 700;">arrow_forward</i></h3>
        <div  class="projectcontent">Use most advance tools based on blockchian to manage you supply
          chain for provenance and payment settlements across the different
          level.</div>
      </a>  </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 projectcol">
          <div class="lastitem2"><a routerLink="/self-checkout">
             <i style="float:left;font-size:130px;color:#33DF98;margin-left:-30px;" class="iconatsupply ion-md-radio-button-on"></i> 
        <h3    class="projectitem1">SELF CHECKOUT <i class="material-icons" style="font-size: 15px;font-weight: 700;">arrow_forward</i></h3>
        <div class="projectcontent">There is a better way to shop offline. A digital, convenient and less
          invasive way where offline customers are earned rather than
          acquired.</div>
      </a>
    </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 projectheading">
              <div class="projecth1" >Ready to get started? </div>
              <div class="projecth5">Get in touch or create an account. </div>
            </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 projectheading2">
                  <a routerLink="/coming-soon"class="common-Button" style="margin-right:50px;margin-top:0px;color:white;background:rgb(146, 81, 172);">
                      Create account
                    </a><a routerLink="/contact" class="common-Button" style="margin-top:0px;">
                      Contact Sales
                    </a>
                </div>
</div>   </div>
<app-footer></app-footer>
<app-copyright></app-copyright>