<div class="row cover">
  <header class="main-header col-xl -12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
    <div class="nav">
    <div class="nav__bg-wrapper">
    <div class="nav__bg"></div>
    </div>
    <ul class="nav__sections">
    <!-- hamburger-menu -->
    
    <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            
            <li style="margin-top:100px"><a  class= "hamburger"  routerLink="/self-checkout"> Self Checkout </a></li>
            <li><a  class= "hamburger"  routerLink="/supply-chain"> Supply-chain  </a></li>
            <li><a  class= "hamburger"  routerLink="/analytic"> Analytics  </a></li>
            <li><a  class= "hamburger"  routerLink="/pricing"> Pricing  </a></li>
            <li><a class="hamburger"  routerLink="/contact">  Contact Us </a></li>
            <li><a routerLink="/signin" class="hamburger" >Sign In</a></li> 
            <li style="margin-bottom:100px"><a routerLink="/signup" class="hamburger">Sign Up</a> </li>
            <div class="blank"></div>
            
            <!-- <a class="hamburger"  routerLink="/">  Blogs </a><br>
            <a class="hamburger"> Product(s)</a><br>
            <a class="hamburger"> Community</a><br>
            <a class="hamburger"> About us</a><br> -->
    
            
          </ul>
        </div>
        <li class="name" ><a  routerLink="/" ><img class=" titleimage cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/zooliywhite.png"></a></li><li class="nav__section hide"><a class="nav__label " >Products</a>
          <ul class="nav__links nav__links--large">
            <a routerLink="/self-checkout" class="hitem3"> <li class="nav__headeritem"><i style="margin-top:50px" class="icon ion-md-radio-button-on"></i><p class="maintopic2">SELF CHECKOUT</p><p class="description">Build and scale your original product&nbsp;line.</p></li></a>
            <a routerLink="/analytic" class="hitem2"> <li class="nav__headeritem"><i class="icon ion-ios-analytics"></i><p class="maintopic1">ANALYTICS</p><p class="description">Everything businesses need to get the clear&nbsp;picture.</p></li></a>
            <a routerLink="/supply-chain" class="blueitem1"><li class="nav__headeritem"><i class="icon material-icons" style="margin-left:-10px;font-size:85px;margin-top:10px;">
                offline_bolt
                </i> <p class="maintopic"> SUPPLY CHAIN</p><p class="description">A complete management platform engineered for&nbsp;growth.</p></li></a>
         </ul>
    </li>
    <li class="nav__section hide"><a class="nav__label ">Developers</a>
      <ul class="nav__links nav__links--small">
              <li class="nav__item"><a routerLink="/coming-soon" class="hitem1"><i class="material-icons" style="font-size:40px">
                      import_contacts
                      </i>
                      <p class="doc">DOCUMENTATION</p>
                      <p class="description2">Start integrating Zooliy's products and tools.</p></a>
                  <p class="get">GET STARTED</p>
                      <p><a routerLink="/coming-soon" class="docclass">Guide</a><br><a routerLink="/coming-soon" class="docclass">Elements</a><br><a routerLink="/coming-soon" class="docclass">Plug-ins</a><br><a routerLink="/coming-soon" class="docclass">Testing</a></p></li>
      
      </ul>
    </li>
    <li class="nav__section hide"><a class="nav__label" >Company</a>
      <ul class="nav__links nav__links--medium">
              <a routerLink="/coming-soon" class="hitem1"> <li class="nav__item"><i class="ion-md-grid" style="font-size:38px;"></i>
                  <p class="doc">ABOUT ZOOLIY</p></li></a>
              <a routerLink="/coming-soon" class="hitem1"><li class="nav__item"><i class="ion-md-rocket "style="font-size:38px;" ></i><p class="doc">JOBS</p></li></a>
              <a routerLink="/coming-soon" class="hitem1"><li class="nav__item"><i class="ion-md-cube" style="font-size:38px;"></i><p class="doc">TECHNOLOGY</p></li></a>
      </ul>
    </li>
    
     <li class="last3 grey hide " ><a routerLink="/pricing-page">Pricing</a></li>
    <li class="last2 grey hide" ><a routerLink="/contact" class="grey">Contact</a></li>
    <li class="last1 grey hide" ><a routerLink="/coming-soon" class="grey" id="button"  >Sign In<i class="material-icons" style="font-size: 15px;;">arrow_forward</i> </a></li>
    </ul>
    </div>
    </header>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mainhead">
      Simple, transparent pricing.
     <br ><div style="color:white">Always know what you’ll pay.</div>
  </div>
  </div>
  <div class="row">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 coulmn1">
      <div class="item">
                       
        <h3 class="green title">SELF-CHECKOUT</h3>
        <div style="font-size:19px;color: #525f7f;">Access a complete platform for Scan-Pay-Go pricing<br><br>
          <strong style="font-size:60px">30K<sup style="color:#33DF98;">*</sup></strong><br>
          <div class="containself-checkout">
              <img class="checkimg" src="../../../assets/card me hole.png">Everything you need to manage payments<br>
              <img class="checkimg" src="../../../assets/2 arrow.png">Get hundreds of feature updates each year<br>
              <img class="checkimg" src="../../../assets/astrik.png">No setup fees, monthly fees, or hidden fees<br>
          </div>
        <a routerLink="/self-checkout" class ="iteminsidelast">GET STARTED IN MINUTES<i class="material-icons" style="font-size: 15px;">arrow_forward</i></a>
      </div>
    </div></div>
     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 coulmn2">
          <div class="item2">
          <h3 class="white title1">SUPPLY CHAIN</h3>
            <div class="containsupplychain" style="font-size:19px;color:white;font-weight: 300"><b>Design a custom package for your business<br></b>
              <p style="font-size: 15px;margin-top:10px;color:#aab7c4;">Available for businesses with large payments volume or unique business models</p></div>
              <img class="supplychainbox cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/pricing ka.png">
            <a routerLink="/contact" class ="iteminsidelast1" style="color:#87bbfd;">CONTACT SALES<i class="material-icons" style="font-size: 15px;margin-left: 10px">arrow_forward</i></a>
        </div>
       </div>
       </div></div>

<div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol">
          <div class="supply-item">
  
                  <img class="logo1 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/tools.png">
            <h3 class="itemheading">Tools to build optimized checkout flows</h3>
            <div class="itemcontent">
              <i class="checkicon ion-md-checkmark"></i> Embeddable checkout<br>
              <i class="checkicon ion-md-checkmark"></i>Custom UI toolkit<br>
              <i class="checkicon ion-md-checkmark"></i>Simplified PCI compliance<br>
              <i class="checkicon ion-md-checkmark"></i>Invoice support<br>
          </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol">
              <div class="supply-item2">
                <img class="logo2 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/wallet.png">
                <h3 class="itemheading">Global payments with a single integration</h3>
                <div class="itemcontent">
                  <i class="checkicon ion-md-checkmark"></i> 135+ currencies<br>
                  <i class="checkicon ion-md-checkmark"></i>  Local payment methods<br>
                  <i class="checkicon ion-md-checkmark"></i>  Global support<br>
                  <i class="checkicon ion-md-checkmark"></i>  Subsidiary support<br>
              </div>
        </div>
          </div>
     <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol">
                  <div class="supply-item3">
                      <img class="logo3 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/lock.png">
            <h3 class="itemheading">Comprehensive security and rigorous compliance</h3>
            <div class="itemcontent">
              <i class="checkicon ion-md-checkmark"></i>Secure payment info collection<br>
              <i class="checkicon ion-md-checkmark"></i> Data security and encryption<br>
              <i class="checkicon ion-md-checkmark"></i>Regulatory licenses worldwide<br>
              <i class="checkicon ion-md-checkmark"></i>Secure Dashboard access<br>
          </div>
        </div>
  </div></div>
  <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol">
        <div class="supply-item">

                <img class="logo1 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/chats.png">
          <h3 class="itemheading">24x7 phone, chat, and email support</h3>
          <div class="itemcontent">
            <i class="checkicon ion-md-checkmark"></i> 24x7 support<br>
            <i class="checkicon ion-md-checkmark"></i> Technical support over IRC<br>
            <i class="checkicon ion-md-checkmark"></i> World-class documentation<br>
            <i class="checkicon ion-md-checkmark"></i>omprehensive knowledge base<br>
        </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol">
            <div class="supply-item2">
              <img class="logo2 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/meter.png">
              <h3 class="itemheading">Fast, predictable payouts to your bank accounts</h3>
              <div class="itemcontent">
                <i class="checkicon ion-md-checkmark"></i> Control payout timing<br>
                <i class="checkicon ion-md-checkmark"></i> Unified payouts<br>
                <i class="checkicon ion-md-checkmark"></i>Like-for-like settlement<br>
                <i class="checkicon ion-md-checkmark"></i>Transparent payouts<br>
            </div>
      </div>
        </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol">
                <div class="supply-item3">
                    <img class="logo3 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/graph.png">
          <h3 class="itemheading">Financial reconciliation and reporting
          </h3>
          <div class="itemcontent">
            <i class="checkicon ion-md-checkmark"></i> Real-time reporting<br>
            <i class="checkicon ion-md-checkmark"></i>  Unified reporting<br>
            <i class="checkicon ion-md-checkmark"></i>Deposit tagging<br>
            <i class="checkicon ion-md-checkmark"></i> QuickBooks + NetSuite support<br>
        </div>
      </div>
</div></div>
<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol1">
    <div class="supply-item">

            <img class="logo1 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/exclaim.png">
      <h3 class="itemheading">Save time with programmatic dispute handling</h3>
      <div class="itemcontent">
        <i class="checkicon ion-md-checkmark"></i> Automate Evidence submission<br>
        <i class="checkicon ion-md-checkmark"></i> Direct integration to card networks<br>
        <i class="checkicon ion-md-checkmark"></i>Submit better evidence<br>
        <i class="checkicon ion-md-checkmark"></i>Monitor and measure disputes<br>
    </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol1">
        <div class="supply-item2">
          <img class="logo2 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/mountains.png">
          <h3 class="itemheading">Manage business operations with a unified dashboard</h3>
          <div class="itemcontent">
            <i class="checkicon ion-md-checkmark"></i> Take action from the Dashboard<br>
            <i class="checkicon ion-md-checkmark"></i> iOS and Android Dashboard apps<br>
            <i class="checkicon ion-md-checkmark"></i> Roles and permissions<br>
            <i class="checkicon ion-md-checkmark"></i> Collaboration notes<br>
        </div>
  </div>
    </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol1">
            <div class="supply-item3">
                <img class="logo3 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/arrow.png">
      <h3 class="itemheading">Robust developer platform and third-party integrations</h3>
      <div class="itemcontent">
        <i class="checkicon ion-md-checkmark"></i>  API libraries and SDKs<br>
        <i class="checkicon ion-md-checkmark"></i>  Comprehensive testing tools<br>
        <i class="checkicon ion-md-checkmark"></i>Developer Dashboard<br>
        <i class="checkicon ion-md-checkmark"></i>450+ platforms and extensions<br>
    </div>
  </div>
</div>
  <!--coulmn-->
  <div class="product1 row">
  <div class="product-card">
      <div class="container2"><i style="float:left;font-size:40px;color:#33DF98;" class="iconlast ion-md-radio-button-on"></i><h1 class ="secondparaheading">SELF CHECKOUT</h1> </div>
      
    <div class="containercard">
      <div class="card-page" style="font-size:15px">Grow your recurring customer<br>
        <i class="checkiconlast ion-md-checkmark-circle" style="color:rgb(146, 81, 172);"></i> First Try then Buy
        <i class="checkiconlastright1 ion-md-checkmark-circle" style="color:rgb(146, 81, 172);"></i>Costs you can’t refuse<br>
        <i class="checkiconlast ion-md-checkmark-circle" style="color:rgb(146, 81, 172);"></i>Collect payments in one go
        <i class="checkiconlastright2 ion-md-checkmark-circle" style="color:rgb(146, 81, 172);"></i>Tell people what you got<br>
      </div>
      <div class="money"><p class="money1">Starting at <br><p style="color:rgb(146, 81, 172);font-size:40px;">30K<sup>*</sup></p></p></div>
    </div>
  </div>
    <div class="product-card">
        <div class="container3"><i style="float:left;font-size:40px;color:#33DF98;" class="iconlast ion-md-radio-button-on"></i><h1 class ="secondparaheading">ANALYTICS</h1> </div>
        
      <div class="containercard">
        <div class="card-page" style="font-size:15px">Everything businesses need to get the clear picture <br>
          <i class="checkiconlast ion-md-checkmark-circle" style="color:rgb(146, 81, 172);"></i> Zooliy data, at the ready
          <i class="checkiconlastright21 ion-md-checkmark-circle" style="color:rgb(146, 81, 172);"></i>Democratize data<br>
          <i class="checkiconlast ion-md-checkmark-circle" style="color:rgb(146, 81, 172);"></i>Data Security our Priority
          <i class="checkiconlastright22 ion-md-checkmark-circle" style="color:rgb(146, 81, 172);"></i>Know your company<br>
        </div>
        <div class="money"><p class="money1">Included free trial for <br><p style="color:rgb(146, 81, 172);font-size:40px;margin-bottom:0px">3<br></p>month</p></div>
      </div>
    </div>
      <div class="product-card">
          <div class="container2"><i style="float:left;font-size:40px;color:#33DF98;" class="iconlast ion-md-radio-button-on"></i><h1 class ="secondparaheading">SUPPLY CHAIN</h1> </div>
          
        <div class="containercard">
          <div class="card-page" style="font-size:15px">A complete management platform engineered for growth<br>
            <i class="checkiconlast ion-md-checkmark-circle" style="color:rgb(146, 81, 172);"></i> Provenance tracking
            <i class="checkiconlastright31 ion-md-checkmark-circle" style="color:rgb(146, 81, 172)"></i>Payment settlements<br>
            <i class="checkiconlast ion-md-checkmark-circle" style="color:rgb(146, 81, 172);"></i>Credit Market
            <i class="checkiconlastright32 ion-md-checkmark-circle" style="color:rgb(146, 81, 172)"></i>Data analytics<br></div>
          <div class="moneysupplychain"><a routerLink="/contact" class="supplychaindata">Contact Sales<i class="material-icons" style="font-size: 15px;;">arrow_forward</i> </a></div>
      </div></div></div></div>
<app-footer></app-footer>
<app-copyright></app-copyright>