<div class="row cover" style="background: #33DF98">
  <header class="main-header col-xl -12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
<div class="nav">
<div class="nav__bg-wrapper">
<div class="nav__bg"></div>
</div>
<ul class="nav__sections">
<!-- hamburger-menu -->

<div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        
        <li style="margin-top:100px"><a  class= "hamburger"  routerLink="/product"> Product(s) </a></li>
        <li><a  class= "hamburger"  routerLink="/coming-soon"> Pricing  </a></li>
        <li><a class="hamburger"  routerLink="/contact">  Contact Us </a></li>
        <li><a routerLink="/coming-soon" class="hamburger" >Sign In</a></li> 
        <li style="margin-bottom:100px"><a routerLink="/coming-soon" class="hamburger">Sign Up</a> </li>
        <div class="blank"></div>
        
        <a class="hamburger"  routerLink="/">  Blogs </a><br>
        <!-- <a class="hamburger"> Product(s)</a><br> -->
        <a class="hamburger"> Community</a><br>
        <a class="hamburger"> About us</a><br>

        
      </ul>
    </div>
    <li class="name" ><a  routerLink="/" ><img class=" titleimage cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/zooliywhite.png"></a></li>
<li class="nav__section hide"><a class="nav__label ">Products</a>
<ul class="nav__links nav__links--large">
    <a routerLink="/supply-chain" class="headeritem1"><li class="nav__headeritem"><i class="icon material-icons" style="margin-left:-10px;font-size:85px;margin-top:10px;">
          offline_bolt
          </i> <p class="maintopic"> SUPPLY CHAIN</p><p class="description">A complete management platform engineered for&nbsp;growth.</p></li></a>
          <a routerLink="/analytic" class="headeritem2"> <li class="nav__headeritem"><i class="icon ion-ios-analytics"></i><p class="maintopic1">ANALYTICS</p><p class="description">Everything businesses need to get the clear&nbsp;picture.</p></li></a>
          <a routerLink="/self-checkout" class="headeritem3"> <li class="nav__headeritem"><i style="margin-top:50px" class="icon ion-md-radio-button-on"></i><p class="maintopic2">SELF CHECKOUT</p><p class="description">Build and scale your original product&nbsp;line.</p></li></a>
  
</ul>
</li>
<li class="nav__section hide"><a class="nav__label ">Developers</a>
  <ul class="nav__links nav__links--small">
          <li class="nav__headeritem"><a routerLink="/coming-soon" class="headeritem1"><i class="material-icons" style="font-size:40px">
                  import_contacts
                  </i>
                  <p class="doc">DOCUMENTATION</p>
                  <p class="description2">Start integrating Zooliy's products and tools.</p></a>
              <p class="get">GET STARTED</p>
                  <p><a routerLink="/coming-soon"class="docclass">Guide</a><br><a routerLink="/coming-soon"class="docclass">Elements</a><br><a routerLink="/coming-soon"class="docclass">Plug-ins</a><br><a routerLink="/coming-soon"class="docclass">Testing</a></p></li>
  
  </ul>
</li>
<li class="nav__section hide"><a class="nav__label" >Company</a>
  <ul class="nav__links nav__links--medium">
          <a routerLink="/coming-soon" class="headeritem1"> <li class="nav__headeritem"><i class="ion-md-grid" style="font-size:38px;"></i>
              <p class="doc">ABOUT ZOOLIY</p></li></a>
          <a routerLink="/coming-soon" class="headeritem1"><li class="nav__headeritem"><i class="ion-md-rocket "style="font-size:38px;" ></i><p class="doc">JOBS</p></li></a>
          <a routerLink="/coming-soon" class="headeritem1"><li class="nav__headeritem"><i class="ion-md-cube" style="font-size:38px;"></i><p class="doc">TECHNOLOGY</p></li></a>
  </ul>
</li>

 <li class="last3 grey hide " ><a class="white" routerLink="/pricing-page">Pricing</a></li>
<li class="last2 grey hide" ><a class="white"routerLink="/contact" >Contact</a></li>
<li class="last1 grey hide" ><a class="white" routerLink="/coming-soon"  id="button"  >Sign In<i class="material-icons" style="font-size: 15px;;">arrow_forward</i> </a></li>
</ul>
</div>
</header>
</div>
<div class="row" scroll="no" style="background: #33DF98">
<div  class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mobshow">
  <a class ="paraheading1"routerLink="/"><img draggable="false" onmousedown="return false" class="iconimg" src="../../assets/favicon/android-icon-192x192.png"></a>
      <h1 class ="paraheading1">OUR WEBSITE IS <br><b class="font">COMING SOON </b></h1>
      <p class="paracontent">
Meanwhile feel free to interact with our social network
      </p>
      <a  href="https://www.facebook.com/smindletech/" target="_blank"> <i class="icon ion-logo-facebook fb" style="margin-right:30px;"></i></a>
      <a href="https://twitter.com/smindletech" target="_blank"> <i class="icon ion-logo-twitter twitter" style="margin-right:30px;"></i> </a>
      <a href="https://www.instagram.com/smindletech/" target="_blank"> <i class="icon ion-logo-instagram ig" style="margin-right:30px;"></i></a>
      <a href="https://www.linkedin.com/company/smindle/" target="_blank"> <i class="icon ion-logo-linkedin ln" style="margin-right:30px;"></i> </a>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 img noshow">
      <img draggable="false" onmousedown="return false" class="coming-soon-img" src="../../assets/coming-soon.png">
</div>
</div>