<app-header></app-header>
<div class="row" style="background: #F6F9FC">
  <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 heading-supplychain">
<a routerLink="/self-checkout" class="headeritem"><i class="icon material-icons">
  offline_bolt
  </i><p class="supply">SUPPLY CHAIN</p></a></div></div>
<div class="row" style="background: #F6F9FC">
    <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 firstparagraph">
        <h1 class ="firstparaheading">A complete management platform
            engineered for growth</h1>
        <p class="firstparacontent">
            Whether you’re looking to track products life cycle, settle
            payments across different levels, or simply manage production and
            inventory do it all with a fully integrated, global platform that can
            monitor activity in real time.
        </p><a href="#" class="common-Button" style="margin-right:20px;color:white;background:rgb(146, 81, 172);
        ">
            Create account
          </a><a href="contact" class="common-Button">
            Explore features
          </a>
    </div>
     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col cantselect">
        <img  draggable="false" onmousedown="return false"  class="firstimg" src="../../../assets/TheBillingInfoImage.PNG">
    </div>
    </div>
    <div class="row"  style="background: white">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 cantselect col">
                <img draggable="false" onmousedown="return false" class="secondimg" src="../../../assets/ProductPortal.gif">
        </div>
        <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 secondparagraph">
           <h1 class ="secondparaheading">AGREE FASTER
            </h1>
            <p class="secondparacontent">
                Increase your production time due to decrease in dispute
                resolution time, secure payment settlements options built to create a
                credit market, increasing business time in a year, and increase
                communication platform with no additional work needed.
                <hr class ="secondline">
                <div class="container"><p class ="Inheading" style><b  style="color:#33DF98;">
                    Increase production,</b> simple payment settlement and collection will
drive your sale high. </p><img class="firstblockchain cantselect"   draggable="false" onmousedown="return false"  src="../../../assets/Grow.gif"></div>
        </div>
      </div>
      <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
        <div class="supply-item">

                <img class="logosupply1 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/reliability.png">
          <h3 class="itemheading">Battle-tested reliability</h3>
          <div class="itemcontent">Securely and timely accept payments backed by highly scalable
            infrastructure built from the ground up for redundancy, security, and
            velocity.</div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
            <div class="supply-item2">
              <img class="logosupply2 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/global.png">
          <h3 class="itemheading">Global reach with one integration</h3>
          <div class="itemcontent">
            Sidestep the integration costs and time of going global with our
            unified platform that makes account setup consistent chainwide so
            you can access Zooliy’s local processing capabilities.</div>

      </div>
        </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
                <div class="supply-item3">
                    <img class="logosupply3 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/industry expertise.png">
          <h3 class="itemheading">Industry expertise built-in</h3>
          <div class="itemcontent">
            Rely on us to partner with the wider payments industry: from the
expected partners—local banks, major card networks, internet
browser providers, and industry associations.</div>

        </div>
      </div>
</div>
<!-- <div class="row roadmap">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol accept">
            <div style="float:left"  class="rectangle">Accept</div><div style="float:left"class="triangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol process">
                <div style="float:left" class="secondrectangle">Accept</div><div style="float:left"class="secondtriangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol setup">
                <div style="float:left" class="thirdrectangle">Accept</div><div style="float:left"class="thirdtriangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol manage">
                 <div style="float:left" class="fourthrectangle">Accept</div>
        </div>
</div> --> 
<div class="row " style="background: #F6F9FC">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 projectcol">
    <div class="lastitem2"><a routerLink="/self-checkout">
       <i style="float:left;font-size:130px;color:#33DF98;margin-left:-30px;" class="iconatsupply ion-md-radio-button-on"></i> 
  <h3    class="projectitem">SELF CHECKOUT <i class="material-icons" style="font-size: 15px;font-weight: 700;">arrow_forward</i></h3>
  <div class="projectcontent">There is a better way to shop offline. A digital, convenient and less
    invasive way where offline customers are earned rather than
    acquired.</div>
</a>
</div>
</div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 projectcol">
      <div class="lastitem2"><a routerLink="/analytic">
        <i class="iconatitem ion-ios-analytics" style="float:left;font-size:130px;;color:#fc3;margin-left:-30px;"></i>
  <h3    class="projectitem1">ANALYTIC <i class="material-icons" style="font-size: 15px;font-weight: 700;">arrow_forward</i></h3>
  <div class="projectcontent">Understanding analytics is at the heart of successful optimization, because you need to measure what’s happening so that you know what to change or update.</div>
</a>
</div>
     </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 projectheading">
              <div class="projecth1" >Ready to get started? </div>
              <div class="projecth5">Get in touch or create an account. </div>
            </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 projectheading2">
                  <a routerLink="/coming-soon"class="common-Button" style="margin-right:50px;margin-top:0px;color:white;background:rgb(146, 81, 172);">
                      Create account
                    </a><a routerLink="/contact" class="common-Button" style="margin-top:0px;">
                      Contact Sales
                    </a>
                </div>
</div>
<app-footer></app-footer>
<app-copyright></app-copyright>