<app-header></app-header>
<div class=blank></div>
  <div class="row " style="background:#F7F9F9">
  <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-xs-12 contactfirstpara content">
      <img  class="contacticon"   draggable="false" onmousedown="return false"  src="../../../assets/Contacticon.gif">
                <h1 class ="contactheading">Communication is everything !  </h1>
                <p class="contactparatextsize" >
                    We'll always reply within the next 12 Hrs. of receiving your message. 
                      </p>
                      <br><br>
      <p class="contactparatextsize" >
         E-mail us at : <b style="color:#33DF98;">contact@zooliy.com</b>
      </p>
      <br>
     <a class="contactpagebutton"  > OR </a> 
     <br><br><br>
      <p class="contactparatextsize" >
           may be you'd like to call us at : <b style="color:#33DF98;">+91 9483994791</b>
      </p>
   </div>
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 center">
        <img draggable="false" onmousedown="return false" class="img" src="../../../assets/team.png">  
    </div>
  </div>
  <div class="row" style="background:#F7F9F9">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
        <img class=questionmark src="../../../assets/que.png">
        <br>
       <div class="faq">Frequently Asked Questions</div>
    </div>
  </div>
  <div class="row" style="background:#F7F9F9">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 faqpadding">
          <div>
              <input type="checkbox" id="question4" name="q" class="questions">
              <div class="plus">+</div>
              <label for="question4" class="question">
              What is Blockchain?
              </label>
              <div class="answers">
                <p>
                  <b>For You, Blockchain is a distributed database, otherwise known as a distributed ledger, a shared record book. For your Grandma, It is the new Internet where you control your own data.  </b></p>
                
              </div>
            </div>
            <!-- _____________________________________________________ -->  
            <div>
              <input type="checkbox" id="question5" name="q" class="questions">
              <div class="plus">+</div>
              <label for="question5" class="question">
            What is Smart Contact?
              </label>
              <div class="answers">
                <p><b>A smart contract is a piece of code which allows you to perform credible transactions without third parties.</b> </p>
                
              </div>
            </div>
            <!-- _____________________________________________________ -->  
            <div>
              <input type="checkbox" id="question6" name="q" class="questions">
              <div class="plus">+</div>
              <label for="question6" class="question">
            Why Blockchain?
              </label>
              <div class="answers">
                <p><b>Saves time, Removes overheads, Reduces risks and Increases trust.</b></p>
                
              </div>
            </div>
            <!-- _____________________________________________________ -->  
            <div>
              <input type="checkbox" id="question7" name="q" class="questions">
              <div class="plus">+</div>
              <label for="question7" class="question">
           How can we help?
              </label>
              <div class="answers">
                <p><b>You are almost there, Get in touch.</b></p>
                
              </div>
            </div>
        </div>
        </div>
<app-footer></app-footer>
<app-copyright></app-copyright>
