<div class="row content">
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 blank">
          
       </div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 first">
    <br><h1 class="heading" >  Home </h1><br>
    <a routerLink="/supply-chain" class="grey"><i class="icon ion-md-cart "></i> Product </a><br><br>
    <a routerLink="contact" class="grey"><i class="icon ion-md-people  "></i> Support </a><br><br>
    <a routerLink="/pricing-page" class="grey"><i class="icon ion-md-cash "></i>
      Pricing </a>
     </div>

 <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 first">
    <br><h1 class="heading">Community</h1><br>
     <a routerLink="#" class="grey"><i class="icon ion-md-business " ></i> Enterprise </a><br><br>
     <a routerLink="#" class="grey"><i class="icon ion-md-code " ></i> Developer </a><br><br>
     <a routerLink="#" class="grey"> <i class="icon ion-md-school " ></i> Student </a>
 </div>

 <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12 first">
    <br>  <h1 class="heading"> About Us </h1><br>
    <a routerLink="https://angel.co/smindle" target="_blank" class="grey"><i class="icon ion-md-rocket " ></i> Jobs </a><br><br>
     <a routerLink="" class="grey"><i class="icon ion-md-paper " ></i> Blog</a><br><br>
     <a routerLink="#" class="grey"> <i class="icon ion-md-list " ></i> Privacy and Terms </a>
 </div>
 <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 blank">

</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 socialbox">
      <a href="https://www.facebook.com/ZooliyHQ/" target="_blank"> <i class="icon ion-logo-facebook fb" style="margin-right:30px;"></i></a>
      <a href="https://twitter.com/zooliyHQ" target="_blank"> <i class="icon ion-logo-twitter twitter" style="margin-right:30px;"></i> </a>
      <a href="https://www.instagram.com/zooliy_hq/" target="_blank"> <i class="icon ion-logo-instagram ig" style="margin-right:30px;"></i></a>
      <a href="https://www.linkedin.com/company/zooliy/" target="_blank"> <i class="icon ion-logo-linkedin ln" style="margin-right:30px;"></i> </a>
  </div>
   </div>

